body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(6, 62, 44);
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: 15px;
    margin: 5px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

img {
    max-height: 300px;
    margin: 5px;
    border: solid 2px;
    border-color: black;
    border-radius: 5px;
}